<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">lovemail</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:ORACLEDB</property>
        <property name="hibernate.connection.username">abhinav</property>
        <property name="hibernate.default_schema">ABHINAV</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
         <mapping resource="Inrqot01.hbm.xml" />
        <mapping resource="Inrqpt01.hbm.xml" />
        <mapping resource="Inrqut01.hbm.xml" />
        <mapping resource="Inrqit01.hbm.xml" />
       
    </session-factory>
</hibernate-configuration>
